@import 'color';
@import 'rest';
@import 'mixins';
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.navigation-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    background: $darkBlue;
    padding: 20px;
    color: $white;
}

.navigation-top_adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    p {
        padding-right: 30px;
    }
    i {
        padding-right: 10px;
    }
}

.navigation-top_search {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    input[type='text'] {
        background: $blue;
        border: 0;
        padding: 10px;
        color: $white;
        &::-webkit-input-placeholder {
            color: $white;
        }
        &:-ms-input-placeholder {
            color: $white;
        }
        &::-ms-input-placeholder {
            color: $white;
        }
        &::placeholder {
            color: $white;
        }
        &:focus {
            border: 1px solid #fff;
        }
    }
    input[type='button'] {
        color: $white;
        background: $blue;
        border: 0;
        padding: 10px;
        cursor: pointer;
        -webkit-transition: 1s;
        transition: 1s;
        &:hover {
            background: rgba(250, 250, 250, 0.512);
        }
    }
}

@media screen and (max-width:750px) {
    .navigation-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .navigation-top_search {
            padding-top: 20px;
        }
    }
}

.header-container {
    background: $blue;
    .navigation-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding-top: 20px;
        p {
            color: $white;
            font-weight: 700;
            letter-spacing: 2px;
            font-size: 19px;
        }
        .header-menu {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            li {
                padding-right: 10px;
                a {
                    text-decoration: none;
                    color: $white;
                    font-family: Montserrat;
                    padding-left: 10px;
                    -webkit-transition: 1s;
                    transition: 1s;
                    &:hover {
                        color: $black;
                        border: 1px solid $black;
                        padding: 5px;
                    }
                }
            }
        }
    }
    .header-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: $white;
        background: $blue;
        padding: 100px 0 140px 0;
        h1 {
            font-size: 48px;
            padding-bottom: 20px;
            font-weight: 400;
            text-align: center;
            letter-spacing: 2.4px;
        }
        p {
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            width: 80%;
            padding-bottom: 20px;
            letter-spacing: 0.7px;
            line-height: 20px;
        }
        input {
            @include button_white;
        }
    }
}

@media all and (max-width: 640px) {
    .header-container {
        .navigation-header {
            p {
                display: none;
            }
        }
    }
}

.slideshow-container {
    padding: 30px 0;
    width: 80%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    .slide-content {
        h2 {
            opacity: 0.9;
            font-weight: 400;
            line-height: 60.05px;
            font-size: 36px;
            letter-spacing: 0.9px;
        }
        p {
            padding-top: 20px;
            opacity: 0.87;
            font-size: 14px;
            line-height: 30.02px;
            color: #4e4e4d;
            width: 70%;
        }
        input {
            @include button_blue;
        }
    }
    .slide-image {
        width: 80%;
        background: $gray;
        -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
        margin-top: -100px;
        margin-left: -20px;
        padding: 30px 50px 100px 50px;
        h2,
        p {
            padding-top: 10px;
            font-size: 18px;
            text-align: center;
            opacity: .7;
            font-family: "Montserrat Light";
        }
        h2 {
            text-transform: uppercase;
        }
        img {
            padding-top: 30px;
            width: 100%;
            height: auto;
            text-align: center;
        }
    }
}

.prevSlide,
.nextSlide {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: #106cffe1;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prevSlide {
    left: -100px;
}

.nextSlide {
    right: -100px;
    border-radius: 3px 0 0 3px;
}

.prevSlide:hover,
.nextSlide:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #106cffe1;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media all and (max-width: 300px) {
    .prev,
    .next,
        {
        font-size: 11px
    }
}

@media all and (max-width: 750px) {
    .mySlides {
        .slide-content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-bottom: 50px;
        }
        .slide-image {
            display: none;
        }
    }
}

@media all and (max-width: 950px) {
    .prev {
        left: -50px;
    }
    .next {
        right: -50px;
    }
}

.services-container {
    background: $gray;
    padding: 40px 0 40px 0;
    h2,
    span {
        text-align: center;
        display: block;
    }
    h2 {
        font-size: 30px;
        padding-bottom: 10px;
        letter-spacing: 0.75px;
        opacity: 0.9;
        b {
            color: $blue;
        }
    }
    span {
        letter-spacing: 0.35px;
    }
    .box-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 40px 0;
        .box {
            width: 300px;
            background: $white;
            margin-right: 30px;
            padding: 20px 20px 40px 20px;
            -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-flow: column;
            flex-flow: column;
            -webkit-transition: 1s;
            transition: 1s;
            i {
                border: 3px solid rgba(27, 135, 185, 0.541);
                border-radius: 50%;
                text-align: center;
                padding: 20px 21px;
            }
            h3,
            p {
                padding-top: 10px;
                text-align: center;
                opacity: 0.9;
            }
            h3 {
                font-size: 24px;
                letter-spacing: 0.6px;
            }
            p {
                letter-spacing: 0.35px;
            }
            &:hover {
                -webkit-box-shadow: 0 0 27px 3px rgba(8, 145, 249, 0.2);
                box-shadow: 0 0 27px 3px rgba(8, 145, 249, 0.2);
            }
        }
    }
}

@media all and (max-width: 650px) {
    .box-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .box {
        margin-bottom: 40px;
    }
}

// productive section
.productive-container {
    padding: 40px 0 150px 0;
    background: $white;
    width: 80%;
    margin: 0 auto;
    h2 {
        // padding-left: 20%;
        color: $blue;
    }
    h3 {
        color: $black;
    }
    h2,
    h3 {
        opacity: 0.9;
        font-size: 30px;
        letter-spacing: 0.75px;
        font-weight: 400;
    }
    p {
        padding-top: 30px;
        padding-left: 10%;
        opacity: 0.87;
        width: 70%;
        font-size: 16px;
        font-weight: 300;
        line-height: 30.02px;
        &::first-letter {
            font-weight: 400;
            font-size: 30px;
        }
    }
    input {
        float: right;
        margin-right: 10%;
        @include button_blue
    }
} // Productive section end
//Subscribe section
.subscribe-container {
    width: 100%;
    background-color: $gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    padding: 40px 0px 40px 0;
    h3 {
        color: $blue;
    }
    p,
    h3 {
        text-align: center;
        opacity: 0.9;
        font-size: 30px;
        font-weight: 400;
        line-height: 47.94px;
        letter-spacing: 0.75px;
    }
    p {
        opacity: 0.87;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.45px;
    }
    form {
        padding-top: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        justify-content: center;
        input[type="text"] {
            width: 170px;
            margin-right: 20px;
            padding: 20px 40px;
            height: 10px;
            -webkit-box-shadow: 0 0 20px rgba(21, 137, 255, 0.2);
            box-shadow: 0 0 20px rgba(21, 137, 255, 0.2);
        }
        input[type="button"] {
            @include button_blue;
        }
    }
}

@media all and (max-width: 650px) {
    .subscribe-container {
        form {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            input[type="text"] {
                margin-bottom: 20px;
            }
            input[type="button"] {
                @include button_blue;
                margin: auto;
            }
        }
    }
}

//brand section
.brand-container {
    background: $white;
    padding: 20px 0;
    h2 {
        text-align: center;
        opacity: 0.9;
        font-size: 36px;
        letter-spacing: 0.9px;
        line-height: 35.96px;
        font-weight: 400;
        b {
            color: $blue;
        }
    }
    .brand-box-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 40px 0;
    }
    .brand-box {
        width: 250px;
        border: 0;
        margin-right: 20px;
        text-align: center;
        -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
        -webkit-transition: 1s;
        transition: 1s;
        img {
            width: 200px;
        }
        &:hover {
            -webkit-box-shadow: 0 0 32px 8px rgba(46, 133, 251, 0.18);
            box-shadow: 0 0 32px 8px rgba(46, 133, 251, 0.18);
        }
    }
}

@media all and (max-width: 1050px) {
    .brand-box-container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .brand-box {
        margin-top: 20px;
    }
}

.footer-navigation {
    background: $blue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    padding: 30px 0px;
    .social_menu {
        p {
            color: $white;
            text-align: center;
        }
        ul {
            padding-top: 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            li {
                padding-right: 10px;
                i {
                    border: 1px solid $white;
                    padding: 10px 12px;
                    border-radius: 50%;
                    &:hover {
                        background: rgba(250, 250, 250, 0.212);
                    }
                }
            }
        }
    }
    ul {
        width: 200px;
        color: $black;
        padding: 20px;
        li {
            padding-top: 4px;
            &:first-child {
                font-weight: 300;
                font-size: 18px;
                font-family: "Montserrat - Regular";
                line-height: 24.02px;
            }
            color: $white;
            a {
                text-decoration: none;
                color: $white;
                font-family: Montserrat;
                font-size: 14px;
                opacity: .8;
                &:hover {
                    text-decoration: underline;
                    opacity: 1;
                }
            }
        }
    }
}

.footer {
    text-align: center;
    padding: 20px;
    background: $darkBlue;
    color: $white;
}